<script>
  function toggleSection(sectionId, buttonText) {
  var section = document.getElementById(sectionId);
  var button = document.querySelector(`button[onclick="toggleSection('${sectionId}', '${buttonText}')"]`);
  
  if (section.classList.contains('hidden-section')) {
    section.classList.remove('hidden-section');
    button.textContent = 'view less';
    
    section.appendChild(button);
  } else {
    section.classList.add('hidden-section');
    button.textContent = buttonText;
    
    section.parentNode.insertBefore(button, section);
  }
}

</script>