<script>
  function toggleSection(sectionId, buttonText, closebuttonText) {
  var section = document.getElementById(sectionId);
  var button = document.querySelector(`button[onclick="toggleSection('${sectionId}', '${buttonText}', '${closebuttonText}')"]`);
  
  if (section.classList.contains('hidden-section')) {
    section.classList.remove('hidden-section');
    button.textContent = closebuttonText;
    
    section.appendChild(button);
  } else {
    section.classList.add('hidden-section');
    button.textContent = buttonText;
    
    section.parentNode.insertBefore(button, section);
  }
}

</script>